<section class="footer-wrapper">
    <!-- .footer start -->
    <footer id="footer">
        <!-- .container start -->
        <div class="container">
            <!-- .row start -->
            <div class="row">

                <!-- animated fadeInTop -->
                <section class="triggerAnimation animated" data-animate="fadeIn">

                    <!-- .footer-widget-container start -->
                    <ul class="grid_3 footer-widget-container">
                        <!-- .widget.widget_text start -->
                        <li class="widget widget_text clearfix">
                            <img src="{{ asset('bundles/app/img/logo_lnet_interactive.png') }}" alt="logo_footer"/>

                            <br /> <br />

                            <p>
                                Welcome to Elvyre. Fully responsive, clean
                                multipurpose template. Create amazing
                                website in minutes.
                            </p>

                            <br /><br />

                            <!-- .newsletter start -->
                            <form class="newsletter">
                                <input type="email" class="email" placeholder="Enter your email here...">
                                <input type ="submit" class="submit" value="SEND">
                            </form><!-- .newsletter end -->
                        </li><!-- .widget.widget-text end -->
                    </ul> <!-- .footer-widget-container end -->

                    <!-- .footer-widget-container start -->
                    <ul class="grid_3 footer-widget-container">
                        <!-- .widget_tag_cloud start -->
                        <li class="widget widget_tag_cloud">
                            <h6>tag cloud</h6>

                            <div class="tagcloud">
                                <a href="#">lnet_interactive</a>
                                <a href="#">ayaline</a>
                                <a href="#">sensioLabs</a>
                                <a href="#">map</a>
                                <a href="#">trendsmap</a>
                                <a href="#">hashtags</a>
                                <a href="#">esprit</a>
                            </div>
                        </li><!-- .widget_tag_cloud end -->

                        <!-- .widget_categories start -->
                        <li class="widget widget_categories">
                            <h6>blog categories</h6>

                            <ul>
                                <li><a href="#">Lnet_interactive</a></li>
                                <li><a href="#">ayaline</a></li>
                            </ul>
                        </li><!-- .widget_categories end -->
                    </ul><!-- .footer-widget-container end -->

                    <!-- .footer-widget-container start -->
                    <ul class="grid_3 footer-widget-container">

                        <!-- .widget.widget_text start -->
                        <li id="tweet-sroll-wrapper" class="widget clearfix">
                            <h6>latest tweets</h6>

                            <div id="twitter">
                                <ul id="twitter_update_list">
                                </ul>&nbsp;
                            </div>
                            <!--<iframe style="height: 20px; text-align: right;" src="http://platform.twitter.com/widgets/follow_button.html?screen_name=niteshluharuka&amp;show_count=false&amp;lang=en"-->
                            <!--height="240" width="320" frameborder="0" scrolling="no">-->
                            <!--</iframe>-->

                        </li><!-- #tweet-sroll-wrapper .widget -->

                    </ul><!-- .footer-widget-container end -->

                    <!-- .footer-widget-container start -->
                    <ul class="grid_3 footer-widget-container">

                        <!-- .widget.widget_text start -->
                        <li class="widget widget_text">
                            <h6>CONTACT INFO</h6>
                            <ul class="contact-info-list">
                                <li>
                                    <p>
                                        <i class="icon-home"></i>
                                        <span class="strong">Address: </span>
                                        B7-3, Immeuble Yasmine Tower, Centre Urbain Nord, 1003, Tunis, Tunisie
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        <i class="icon-phone"></i>
                                        <span class="strong">Telephone: </span>
                                        71947382
                                    </p>
                                </li>

                                <li>
                                    <p>
                                        <i class="icon-phone"></i>
                                        <span class="strong">Fax: </span>
                                        71947382
                                    </p>
                                </li>
                            </ul>

                            <br /><br />

                            <a class="underlined" href="contact.html">FIND US ON MAP</a>
                        </li><!-- .widget.widget_text end -->
                    </ul>
                </section>
            </div><!-- .row end -->
        </div><!-- .container end -->
    </footer><!-- .footer-end -->

    <!-- .copyright-container start -->
    <div class="copyright-container">
        <!-- .container start -->
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <section class="grid_6">
                    <p>Copyright lnet_interactive 2015. All Rights Reserved.</p>
                </section>

                <section class="grid_6">
                    <div class="footer-breadcrumbs">
                        <a href="index.html">home</a>
                        <a href="map.html">map</a>
                        <a href="locations.html">location</a>
                        <a href="media_solution.html">solution</a>
                        <a href="blog.html">blog</a>
                        <a href="contact.html">contact</a>
                    </div>
                </section>
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .copyright-container end -->

    <a href="#" class="scroll-up">Scroll</a>
</section>
