<!-- #page-title start -->
<section id="page-title" class="page-title-1" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="grid_8">
                <div class="pt-title triggerAnimation animated" data-animate="fadeInLeft">
                    <h1>Our <span class="strong">Professional</span> team is here for<br />
                        you 24/7. Don’t hesitate to contact us.</h1>
                </div>
            </div><!-- .grid_6 end -->

            <!-- .grid_6 start -->
            <div class="grid_4">
                <div class="pt-image-container">
                    <div class="pt-image triggerAnimation animated" data-animate="fadeInRight">
                        <img src="{{ asset('bundles/app/img/page-titles/contact-page-title.png') }}" alt="contact us" />
                    </div>
                </div>
            </div>
        </div><!-- .row end -->

        <div class="row">
            <div class="grid_8">
                <div class="breadcrumbs triggerAnimation animated" data-animate="fadeInUp">
                    <ul>
                        <li>
                            <span>You are here:</span>
                        </li>

                        <li>
                            <a href="#">Map</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div><!-- .container end -->
</section><!-- #page-title end -->

<!-- .page-content start -->
<section class="page-content">
    <!-- .container start -->
    <div class="container">
        <!-- .row start -->
        <div class="row">

            <!-- .grid_12 start -->
            <div class="grid_12">
                <div class="map_canvas triggerAnimation animated" data-animate="fadeInDown"></div>
            </div><!-- .grid_12 end -->
        </div><!-- .row end -->

        <!-- .row start -->
        <div class="row">
            <!-- .grid_6 start -->
            <article class="grid_6">
                <div class="triggerAnimation animated" data-animate="fadeInLeft">
                    <section class="heading-bordered">
                        <h3>Some Information</h3>
                    </section><!-- .heading-bordered end -->

                    <p>
                        Our professional team is here for you 24/7, so
                        please don’t hesitate to contact us if you have any
                        questions, problems or maybe suggestion. We would
                        love to hear from you.

                        <br /><br />

                        You can reach us on email address by filling out
                        the form on the right, or meet with us in person on
                        some of the addresses below. Just make shore you
                        make an appointment first. Contact information is shown below.
                    </p>

                    <br /><br />

                    <ul class="contact-info-list">
                        <li>
                            <p>
                                <i class="icon-home"></i>
                                <span class="strong">Address: </span>
                                Address: B7-3, Immeuble Yasmine Tower, Centre Urbain Nord, 1003, Tunis, Tunisie
                            </p>
                        </li>

                        <li>
                            <p>
                                <i class="icon-phone"></i>
                                <span class="strong">Telephone: </span>
                                71947382
                            </p>
                        </li>

                        <li>
                            <p>
                                <i class="icon-phone"></i>
                                <span class="strong">Fax: </span>
                                71947382
                            </p>
                        </li>
                    </ul>
                </div><!-- .animated .fadeInRight -->
            </article><!-- .grid_6 end -->

            <!-- .grid_6 start -->
            <article class="grid_6">
                <div class="triggerAnimation animated" data-animate="fadeInRight">
                    <section class="heading-bordered">
                        <h3>Send us a message</h3>
                    </section><!-- .heading-bordered end -->

                    <!-- wpcf7 start -->
                    <form class="wpcf7" action="{{ path('contact') }}" method="POST">
                        <fieldset>
                            <label><span class="text-color">*</span> Name:</label>
                            <input type="text" class="wpcf7-text" id="contact-name"/>
                        </fieldset>

                        <fieldset>
                            <label><span class="text-color">*</span> Email:</label>
                            <input type="email" name="email" id="contact-email" class="wpcf7-text" />
                        </fieldset>

                        <fieldset>
                            <label><span class="text-color">*</span> Message:</label>
                            <textarea rows="5" class="wpcf7-textarea" id="contact-message"></textarea>
                        </fieldset>

                        <input type="submit" style=" border: 0px solid;
    font: 12px 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 11px;
    color: #fff;
    background-color: #333;
    padding: 10px 17px;
    cursor: pointer;

    float: right;" value="Send" />

                    </form><!-- wpcf7 end -->
                </div><!-- .animated.fadeInRight end -->
            </article><!-- .grid_6 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</section><!-- .page-content end -->
<script>
    /* <![CDATA[ */
    jQuery(document).ready(function($) {
        'use strict';

        // GOOGLE MAPS START
        $(function() {
            //google maps

            var yourStartLatLng = new google.maps.LatLng(40.74843, -73.985655);
            $('.map_canvas').gmap({'center': yourStartLatLng, 'zoom': 13, 'disableDefaultUI': true, 'callback': function() {
                var self = this;
                self.addMarker({'position': this.get('map').getCenter()});
            }});
        }); // GOOGLE MAPS END

        // CONTACT FORM AJAX SUBMIT START
        $('.wpcf7 .wpcf7-submit').on('click', function(event) {
            event.preventDefault();
            var name = $('#contact-name').val();
            var email = $('#contact-email').val();
            var message = $('#contact-message').val();
            var form_data = new Array({'Name': name, 'Email': email, 'Message': message});
            $.ajax({
                type: 'POST',
                url: "contact.php",
                data: ({'action': 'contact', 'form_data': form_data})
            }).done(function(data) {
                alert(data);
            });
        }); // CONTACT FORM AJAX SUBMIT END
    });

    /* ]]> */
</script>