
    <!-- #page-title start -->
    <section id="page-title" class="page-title-1" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="grid_8">
                    <div class="pt-title triggerAnimation animated" data-animate="fadeInLeft">
                        <h1>Our <span class="strong">Professional</span> team is here for<br />
                            you 24/7. Don’t hesitate to contact us.</h1>
                    </div>
                </div><!-- .grid_6 end -->

                <!-- .grid_6 start -->
                <div class="grid_4">
                    <div class="pt-image-container">
                        <div class="pt-image triggerAnimation animated" data-animate="fadeInRight">
                            <img src="{{ asset('bundles/app/img/slider/globe.gif') }}" alt="contact us" />
                        </div>
                    </div>
                </div>
            </div><!-- .row end -->

            <div class="row">
                <div class="grid_8">
                    <div class="breadcrumbs triggerAnimation animated" data-animate="fadeInUp">
                        <ul>
                            <li>
                                <span>You are here:</span>
                            </li>

                            <li>
                                <a href="#">Map / </a>
                            </li>

                            <!--<li>-->
                            <!--<span class="active">Contact us</span>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .container end -->
    </section><!-- #page-title end -->

    <!-- .page-content start -->
    <section class="page-content">
        <!-- .container start -->
        <div class="container">
            <!-- .row start -->
            <div class="row">
                <article class="grid_12">
                    <!--<div class="map_canvas triggerAnimation animated" data-animate="fadeInDown"></div>-->
                </article><!-- .grid_12 end -->

            </div><!-- .row end -->
        </div><!-- .container end -->
    </section><!-- .page-content end -->
